<section>
    <div class="container">
        <div class="blog-post-area">
            <h2 class="title text-center">Bài Review Mới Nhất</h2>
            <div class="single-blog-post">
                <h3>Yamaha Icats N2</h3>
                <div class="post-meta">
                    <ul>
                        <li><i class="fa fa-user"></i> Mac Doe</li>
                        <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                        <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                    </ul>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </span>
                </div>
                <a href="">
                    <img src="../../../assets/imgs/d_yamaha_icats_n2.jpg" alt="">
                </a>
                <p>
                    Đến từ sứ sở hoa anh đào đang thổi một luồng gió mới vào phân khúc thị trường xe Điện Việt Nam với mức giá vô cùng hợp lý. Thiết kế gọn nhẹ lại vận hành bền bỉ, dòng xe đạp điện này đang gây bão cộng đồng bởi tính năng nổi trội mà xe mang lại cho người điều khiển.
                </p>
                <a class="btn btn-primary" routerLink="/blog-detail">Đọc Thêm</a>
            </div>
            <div class="single-blog-post">
                <h3>GIANT M133S PLUS</h3>
                <div class="post-meta">
                    <ul>
                        <li><i class="fa fa-user"></i> Mac Doe</li>
                        <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                        <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                    </ul>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </span>
                </div>
                <a href="">
                    <img src="../../../assets/imgs/m_giant-m133s-plus972.jpg" alt="">
                </a>
                <p>
                    Cái tên "Bò điên" đã đủ để chứng tỏ sức hút và sự phổ biến của M133S PLUS trên thị trường xe điện hiện nay. GIANT M133S PLUS vẫn khẳng định được vị thế của mình và liên tiếp chiếm vị trí top 1 bảng xếp hạng xe điện bán chạy nhất. M133S PLUS dễ dàng "đánh gục" người tiêu dùng từ cái nhìn đầu tiên bởi sức hút về tính năng cũng như độ bền khoẻ và thiết kế độc đáo
                </p>
                <a class="btn btn-primary" routerLink="/blog-detail">Đọc Thêm</a>
            </div>
            <div class="single-blog-post">
                <h3>Ô TÔ ĐIỆN 8 CHỖ NGỒI LVTONG</h3>
                <div class="post-meta">
                    <ul>
                        <li><i class="fa fa-user"></i> Mac Doe</li>
                        <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                        <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                    </ul>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </span>
                </div>
                <a href="">
                    <img src="../../../assets/imgs/k_oto-8-cho-ngoi-lvtong-lt-s8fa725.jpg" alt="">
                </a>
                <p>
                    Ô tô điện 8 chỗ ngồi DK LT S8.FA có kiểu dáng được thiết kế sang trong mang phong cách hoàng gia Châu Âu, rất phù hợp để sử dụng trong các khu du lịch, nghỉ dưỡng và các sân golf. Xe được sử dụng để vận chuyển hành khách trong trong quãng đường ngắn, được hoạt động 100% từ điện năng giúp bảo vệ môi trường, cảm giác thú vị cho người sử dụng và giá trị kinh tế cao.
                </p>
                <a class="btn btn-primary" routerLink="/blog-detail">Đọc Thêm</a>
            </div>
            <div class="pagination-area">
                <ul class="pagination">
                    <li><a href="" class="active">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>