<section>
    <div class="container">
        <div class="blog-post-area">
            <h2 class="title text-center">Bảo hành 1 đổi 1 trong 1 năm khi mua linh kiện tại Thế Giới Xe Chạy Điện</h2>
            <div class="single-blog-post">
                <ul>
                    <li>Chính sách bảo hành xe đạp điện-Xe máy điện hãng NIJIA</li>
                    <li>Chính sách bảo hành xe đạp điện, xe máy điện hãng BMX</li>
                    <li>Chính sách bảo hành Xe đạp điện-Xe máy điện BEFOREALL</li>
                </ul>
                <ul>
                    <li>Bình ắc quy xe đạp điện, xe máy điện bảo hành đổi mới, 1 đổi 1 trong vòng 12 tháng.</li>
                    <li>Pin Lithium xe đạp điện bảo hành đổi mới, 1 đổi 1 trong vòng 18 tháng.</li>
                    <li>Board điều khiển xe đạp điện, xe máy điện bảo hành đổi mới, 1 đổi 1 trong vòng 12 tháng.</li>
                    <li>Sạc xe đạp điện, xe máy điện bảo hành đổi mới, 1 đổi 1 trong vòng 12 tháng.</li>
                    <li>Đông cơ xe đạp điện, xe máy điện bảo hành đổi mới, 1 đổi 1 trong vòng 12 tháng.</li>
                    <li>Đổi trả xe miễn phí trong vòng một tuần đầu tiên nếu xe đạp điện, xe máy điện gặp lỗi kỹ thuật do nhà cung cấp.</li>
                </ul>
            </div>
        </div>
    </div>
</section>